/* Default font and reset
 * =default
 */
html, body *{
	border:0;
	font-family: 'DustismoRegular', "Comic Sans MS", sans-serif;
	/*height:100%;*/
	margin:0;
	padding:0;
}
#cal{ position: relative; min-width:800px; }
#cal-head
{
	background: #BBD4F6 url(../images/header.gif) repeat-x;
	color:#fff;
	font-size: 1.2em;
	font-weight:800;
	height: 60px;
	text-align:center;	
	top: 0;	
}
div.cal-months{
	float:left;
	position:absolute;
	padding-top: 20px;
	height: 20px;
	color:#083772;
}
div#cal-caption #cap-left
{
	float:left;
	position:absolute;
	width: 33%;
	left: 0%;
	text-align:left;
	padding: 0 0 0 0.8em;
}
div#cal-caption #cap-middle
{
	/*float:left;*/
	position:absolute;
	left: 33.3333%;
	width: 33%;
	text-align:center;
}
div#cal-caption #cap-right
{
	position:absolute;
	width: 33%;
	left: 65%;
	text-align: right;
}
#cal-body{
	position:relative;
	width:100%;
	font-family: serif;
	height:600px;
}
#cal-body .dayContainer
{
	position:absolute;
	display:inline-block;
	font-size:16px;
	height:20px;
	overflow: hidden;
}
#cal-body .dayEvent { cursor: pointer; }
#cal-body .dayNumber, #cal-body .dayName {
	text-align: left;
	float:left;
	font-size: 13px;
	padding-top: 3px;
	z-index: 10;
}
#cal-body .dayEvent {
	text-align: left;
	float:left;
}
#cal-body .dayName {
	text-align:left;
	
	margin: 0;
	
	padding-left: 2px;	
	width: 13px;
}
#cal-body span.dayNumber {
	text-align: center;
	margin: 0;
	padding-right: 2px;
	width: 18px;
}
#cal-body .dayContainer sup {
	float:right;
	font-size: 8pt;
	z-index: 100;
/*	font-family: Verdana;
	position: absolute;
	text-align: right;
	width: 100%;
*/
}
#cal-body .hiddenInfo{
	display:none;
}

div.hrule {
	left:0pt;
	position:absolute;
	width:100%;
	border-top:1px solid #ccc;
}
div.vrule {
	position:absolute;
	top:0pt;
	height: 100%;
	border-left:1px solid #ccc;
	width: 1px;
}

.x-calendar-saturday, .x-calendar-holiday { background-color: #eeeeee; }
.x-calendar-sunday { background-color: #dededf; }
/*
.x-calendar-saturday { background-color: #ffface; }
.x-calendar-sunday { background-color: #fbef8c; }

.x-calendar-saturday { background-color: #d0e6fb; }
.x-calendar-sunday { background-color: #b3d9ff; }
*/
.x-calendar-norecords{
	display:table-cell;
	position:absolute;
	text-align:center;
	top:50%;
	vertical-align:middle;
	width:100%;
}