<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>1Kalender</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="http://www.1calendar.dk/favicon.ico" />
		<style type="text/css">
			@import url(css/reset.css);
			@import url(css/calendar.css);
			@font-face {
				font-family: 'DustismoRegular';
				src: url('fonts/dustismo_bold.eot');
				src: local('Dustismo Regular'), local('Dustismo-Bold'), url('fonts/dustismo_bold.ttf') format('truetype');
			}
		</style>
		<script type="text/javascript" src="lib/jquery/jquery-1.4.min.js"></script>
		<script type="text/javascript" src="lib/jquery/jquery-jqote.min.js"></script>
		<script type="text/javascript" src="lib/datejs.js"></script>
		<script type="text/javascript" src="lib/date-da-DK.js"></script>
	</head>
	<body>
		<div id="cal"></div>
		<script type="text/html" id="template">
		<![CDATA[
		    <div class="x-calendar-head"><%= this.text.caption %>
				<div class="x-calendar-caption">
					<span class="x-calendar-left"><%= this.text.capLeft %></span>
					<span class="x-calendar-middle"><%= this.text.capMiddle %></span>
					<span class="x-calendar-right"><%= this.text.capRight %></span>
				</div>
				<% for (var month in this.months){ %>
					<div class="x-calendar-months" style="left:<%= 100/this.months.length*month %>%; width:<%= 100/this.months.length %>%;"><%= this.months[month].name %></div>
				<% } %>
			</div>
			<div class="x-calendar-body">
				<% var currentDate = this.startDate; %>
				<% for (var i = 0; i < this.months.length; i++){ %>
					<div class="vrule" style="left:<%= 100/this.months.length*i %>%;"></div>
					<% for(var d = 0; d < daysInMonth(this.startDate.getMonth(),this.startDate.getFullYear()); d++){ %>
						<%= console.log(daysInMonth(this.startDate.getMonth(),this.startDate.getFullYear())) %>
						<div class="dayContainer" style="left:<%= 100/this.months.length*i %>%; top:<%= 100/31*d %>%; width:<%= 100/this.months.length %>%;">
							<span class="dayName">lø</span>
							<span class="dayNumber">10</span>
						</div>
					<% } %>
				<% } %>
				<% for (var i = 0; i <= 31; i++){ %>
					<div class="hrule" style="top:<%= 100/31*i %>%;"></div>
				<% } %>
			</div>
		]]>
		</script>
		<script type="text/javascript">
			function dateToString(date) {
				var month = (date.getMonth() + 1).toString();
				var dom = date.getDate().toString();
				if (month.length == 1) month = "0" + month;
				if (dom.length == 1) dom = "0" + dom;
				return dom + "-" + month + "-" + date.getFullYear();
			}
			function daysInMonth(month, year)
			{
				return 32 - new Date(year, month, 32).getDate();
			}

			var calData = {
				monthsToShow: 6,
				startDate: new Date(2010, 0, 1),
				text: {
					caption: "Kalender Eksempel",
					capLeft: "made by Jon Ege Ronnenberg",
					capMiddle: null,
					capRight: dateToString(new Date())
				},
				months: [
					{ name: "Jan" },
					{ name: "Feb" },
					{ name: "Mar" },
					{ name: "Apr" }/*,
					{ name: "Maj" },
					{ name: "Jun" },
					{ name: "Jul" },
					{ name: "Aug" },
					{ name: "Sep" },
					{ name: "Okt" },
					{ name: "Nov" },
					{ name: "Dec" }*/
				],
				events: [
					{ id: '', date: '', text: '' }
				]
			};

			$(function(){
				$('#cal').addClass("x-calendar-container");
				$('#template').jqote(calData).appendTo('#cal');
			});
		</script>
	</body>
</html>